! Arista cEOS startup configuration
! Includes VLANs 10, 20, 100, and 200
!
hostname ceos
!
! ============================================
! VLAN Definitions
! ============================================
!
vlan 10
   name Calico-Network
!
vlan 20
   name Multus-Network
!
vlan 100
   name Pod-Network-100
!
vlan 200
   name Pod-Network-200
!
! ============================================
! Trunk interfaces to Kubernetes nodes
! ============================================
!
interface Ethernet1
   description Connection to k01-control-plane (Trunk)
   mtu 9124
   switchport mode trunk
   switchport trunk allowed vlan 10,20,100,200
   switchport trunk native vlan 1
!
interface Ethernet2
   description Connection to k01-worker (Trunk)
   mtu 9124
   switchport mode trunk
   switchport trunk allowed vlan 10,20,100,200
   switchport trunk native vlan 1
!
interface Ethernet3
   description Connection to k01-worker2 (Trunk)
   mtu 9124
   switchport mode trunk
   switchport trunk allowed vlan 10,20,100,200
   switchport trunk native vlan 1
!
! ============================================
! Layer 3 interfaces (SVIs)
! ============================================
!
interface Vlan10
   description Calico Network L3 Interface
   mtu 9000
   ip address 10.10.10.1/24
   no shutdown
!
interface Vlan20
   description Multus Network L3 Interface
   mtu 9000
   ip address 10.10.20.1/24
   no shutdown
!
interface Vlan100
   description Pod Network VLAN 100 - L3 Gateway
   mtu 9000
   ip address 10.10.100.1/24
   no shutdown
!
interface Vlan200
   description Pod Network VLAN 200 - L3 Gateway
   mtu 9000
   ip address 10.10.200.1/24
   no shutdown
!
! ============================================
! Enable IP routing
! ============================================
!
ip routing
!
! ============================================
! Management interface
! ============================================
!
interface Management0
   ip address dhcp
   no shutdown
!
! ============================================
! User configuration
! ============================================
!
username admin privilege 15 secret admin
!
! ============================================
! Enable HTTP API
! ============================================
!
management api http-commands
   no shutdown
!
! ============================================
! BGP configuration for Calico
! ============================================
!
router bgp 65010
   router-id 10.10.10.1
   neighbor CALICO-K8S peer group
   neighbor CALICO-K8S description "Calico Kubernetes Nodes"
   neighbor CALICO-K8S route-reflector-client
   bgp listen range 10.10.10.0/24 peer-group CALICO-K8S remote-as 65010
   neighbor CALICO-K8S next-hop-self
   !
   address-family ipv4
      neighbor CALICO-K8S activate
      network 10.10.10.0/24
      network 10.10.20.0/24
      network 10.10.100.0/24
      network 10.10.200.0/24
!
end








