! Arista cEOS startup configuration
!
hostname ceos
!
! Define VLAN 10
!
vlan 10
   name Calico-Network
!
! Define VLAN 20
!
vlan 20
   name Calico-Network-2
!
! Configure interfaces as access ports in VLAN 10
!
interface Ethernet1
   description Connection to k01-control-plane
   switchport mode access
   switchport access vlan 10
!
interface Ethernet2
   description Connection to k01-worker
   switchport mode access
   switchport access vlan 10
!
interface Ethernet3
   description Connection to k01-worker2
   switchport mode access
   switchport access vlan 10

!
! Layer 3 interface for VLAN 10
!
interface Vlan10
   description Calico Network L3 Interface
   ip address 10.10.10.1/24
!
! Enable IP routing
!
ip routing
!
! Management interface
!
interface Management0
   ip address dhcp
   no shutdown
!
! User configuration
!
username admin privilege 15 secret admin
!
! Enable HTTP API
!
management api http-commands
   no shutdown

router bgp 65001
   router-id 10.10.10.1
   bgp listen range 10.10.10.0/24 peer-group CALICO-K8S remote-as 65010
   neighbor CALICO-K8S peer group
   neighbor CALICO-K8S remote-as 65010
   neighbor CALICO-K8S description "Calico Kubernetes Nodes"
   !
   address-family ipv4
      neighbor CALICO-K8S activate
      network 10.10.10.0/24

end