! Arista cEOS startup configuration
!
hostname ceos
!
! Define VLAN 10 (for Calico pod networking)
!
vlan 10
   name Calico-Network
!
! Define VLAN 30 (for ipvlan)
!
vlan 30
   name IPvlan-Network
!
! Configure interfaces for VLAN 10 (Calico pod network)
!
interface Ethernet1
   description Connection to k01-control-plane (VLAN 10)
   switchport mode access
   switchport access vlan 10
!
interface Ethernet2
   description Connection to k01-worker (VLAN 10)
   switchport mode access
   switchport access vlan 10
!
interface Ethernet3
   description Connection to k01-worker2 (VLAN 10)
   switchport mode access
   switchport access vlan 10
!
! Configure interfaces for VLAN 30 (ipvlan)
!
interface Ethernet4
   description Connection to k01-control-plane (VLAN 30)
   switchport mode access
   switchport access vlan 30
!
interface Ethernet5
   description Connection to k01-worker (VLAN 30)
   switchport mode access
   switchport access vlan 30
!
interface Ethernet6
   description Connection to k01-worker2 (VLAN 30)
   switchport mode access
   switchport access vlan 30
!
! Layer 3 interface for VLAN 10
!
interface Vlan10
   description Calico Network L3 Interface
   ip address 10.10.10.1/24
!
! Layer 3 interface for VLAN 30
!
interface Vlan30
   description IPvlan Network L3 Interface
   ip address 10.10.30.1/24
!
! Enable IP routing
!
ip routing
!
! Management interface
!
interface Management0
   ip address dhcp
   no shutdown
!
! User configuration
!
username admin privilege 15 secret admin
!
! Enable HTTP API
!
management api http-commands
   no shutdown
!
! Note: This lab focuses on IPVLAN functionality.
! The switch is configured for basic Layer 2/3 connectivity.
!

end
